.main-container {
  justify-content: center;
    display: flex;
    min-height: 100vh;
    /*this make the flex height to fit to the web-browser*/
}

.first-half {
    height: 100%;
    width: 50%;
}

.second-half {
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
}

.reg1-pic {
    margin: 10px;
    width: 100%;
    height: 95vh;
}

.form {
    background-color: #e2e2e3;
    display: grid;
    margin-top: 2%;
    place-items: center;
    padding: 15px 90px;
    border-radius: 10px;
}

body {
    background-color: #F9F9F9;
}

form {

    padding: 10px;
}

.mb-3 {
    margin: 10px 10px;
    width: 300px;
}

.btn {
    margin: 10px;
}

.login-img {

    display: inline-block;
}

.log-heading {
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;
}

.carousel-item>img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}