.form{
    background-color: #D8D8D8;
    display: grid;
    margin-top: 2%;
    place-items: center;
    padding: 30px;
}
body{
    background-color: #F9F9F9; 
}
.LogBody{

    display: grid;
    place-items: center;
}
form{

    padding: 30px;
}
.mb-3{
    margin: 10px;
    width: 300px;
}

.btn{
    margin: 10px;
}

.login-img{
    
    display: inline-block;
}

.log-heading{
    margin-top: 30px;
    font-family: 'Work Sans', sans-serif;
}