@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap");

/************** NAVBAR************************/
body {
  margin: 0;
}

.bg-body-tertiary {
  background-color: disable;
}
.navbar {
  background-color: #f7f4f4;
  height: 140px;
  z-index: 2;
}

.navbar-brand {
  margin: 0 40px;
  font-size: 2rem;
}

.nav-item {
  margin: 0 10px;
}

.cutm-logo {
  width: 8%;
  margin: 5px 10px;
}

/******************************* Middle Container *****************************/
video {
  width: 100%;
  filter: brightness(0.5);
}

.middile-heading {
  padding-top: 5%;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
}
